
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, nav {
    width:100%; /* Makes images responsive */
    height:auto; /* Makes images fill the height of the div */

  }

header {
    border-left: 10px;
    position: fixed;
    top: 0;
    border-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7689c7;
    color: #161616;
    text-align: center;
    border-radius: 5px;
}

nav {
    position: fixed;
    top: 80px;
    background-color: aquamarine;
    padding: 5px 0;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;

}

nav ul li {
    display: inline;
    background-color: grey;

}

nav ul li a {
    
    text-decoration: underline;
    color: #333;
    background-color: aquamarine;

}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}
#magoal {
    height: 70px;
    width: 100px;
    margin-left: 15px;
}

#coinImage {
    width: 100px;
    height: 70px;
}


section {
    text-align: center;
    margin: 2em;
}

select {
    padding: 1em;
    margin: 1em;
}

button {
    background-color: #333;
    color: #fff;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #f4f4f4;
    color: #333;
}   
form{
    top: 130;
}
form div {
    display: center; 
    align-items: center; 
    margin-bottom: 10px;
}

label {
    width: 50px; 
    text-align: right; 
    margin-right: 10px; 
}

input, select {
    flex-grow: 0; 
}

button{
    margin-left: 160px;
}

footer {
    border-left: 10px;
    border-right: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #7689c7;
    color: #161616;
    text-align: center;
    border-radius: 5px;
}
section {
    position:relative;
    top: 180px;
}
.section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Space between items */
    padding: 10px; /* Padding around the gallery */
}

.gallery-item {

    padding: 5px; /* Padding inside each item */
    overflow: hidden; /* Prevents overflow of images */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.gallery-item img {
    width: 60%; /* Makes images responsive */
    height: 60%; /* Makes images fill the height of the div */
    object-fit: cover; /* Ensures the image covers the entire div */
    align-self: center;
    transition: transform 0.3s; /* Smooth zoom effect */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.item-columspan {
    grid-column: span 2; /* Span 2 rows */
}

